@import "tailwindcss";



::-webkit-scrollbar{
  width: 10px;
  background-color: rgba(74, 67, 67, 0.462);
  height: 25px;
}


::-webkit-scrollbar-thumb{
  width: 10px;
  height: 150px;
  background-color: gray;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #dadada7b;
}